@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
}
